
.lb-arrow{
position:absolute;
top:50%;
transform:translateY(-50%);
font-size:54px;
color:white;
cursor:pointer;
padding:20px;
user-select:none;
}
#lbPrev{left:20px;}
#lbNext{right:20px;}
.lb-counter{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
color:#ddd;
font-size:14px;
}
